@import "variables";

$primary-color: #BB3C4F;
$secondary-color: #ECBA52;
$panel-text-color: #efefef;
$nav-link-color: #efefef;
$nav-link-hover-color: #fff;

.darkpink-yellow {
  @import "theme-base"
}