@import "variables";

$primary-color: #3E2C42;
$secondary-color: #ECBA52;
$panel-text-color: #8e909a;
$nav-link-color: #7a7e8a;
$nav-link-hover-color: #fff;

.purple-yellow {
  @import "theme-base"
}