<% @game = Game.new %>
<%= form_for(@game, url: {action: "create"}) do |f| %>
  <%= f.label :name, 'Game Name:' %>
  <%= f.text_field :name %>
  <div class="g-recaptcha" id="recaptcha-game"></div>
  <%= f.submit 'Submit' %>
<% end %>