<% provide(:header, 'Games') %>
<% provide(:small_header, '') %>
<div class="row">
  <div class="col-md-5 col-md-push-7" id="button-col">
    <button id="add-game-button" class="btn btn-success">
      Add Game
    </button>
    <button id="cancel-add-game-button" class="btn btn-danger hidden">
      Cancel
    </button>
  </div>
  <div class="col-md-7 col-md-pull-5">
    <div id="add-game-box" class="hidden">
      <%= render partial: 'form' %>
    </div>
    <div class="list-group">
      <% @games.each do |game| %>
      <%= link_to game.name, game_path(game), class: 'list-group-item' %>
      <% end %>
    </div>
    <%= paginate @games %>
  </div>
</div>
