<% provide(:header, 'Games') %>
<% provide(:small_header, '') %>
<button id="add-game-button">Add Game</button>
<div id="add-game-box">
  <%= render partial: 'form' %>
</div>
<% @games.each do |game| %>
  <p><%= link_to game.name, game_path(game) %></p>
<% end %>
<%= paginate @games %>