@import 'variables';

.full-width {
  width: 100%;
}

.header-table {
  display: table;
  width: 100%;
}

.display-table {
  display: table;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}
#search-form {
  display: none;
  width: 100%;
  
}

#search-input {
  width: 100%;

}

#search-box:focus {
  border: 1px solid #737384;
}

#search-toggle {
  font-size: 18px;
  line-height: 50px;
  padding-left: 15px;
}

#filler {
  display: none;
  width: 100%;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { 
  #search-box {
    width: 250px;
  }
  #search-form {
    display: block !important;
    width: auto;
  }
  #search-toggle {
    display: none;
  }
  #filler {
    display: table-cell;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  #search-box {
    width: 350px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  #search-box {
    width: 450px;
  }
}