.error {
  background: #FF0000;
}

#threshold {
  display: none;
}

.no-overflow {
  overflow: hidden;
}

.alert-error{color:#a94442;background-color:#f2dede;border-color:#ebccd1}
.alert-error hr{border-top-color:#e4b9c0}
.alert-error .alert-link{color:#843534}

.brand {
  font-size: 20px;
  line-height: 50px;
  min-width: 125px;
}

.left-panel, .content {
   -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}