<header class="top-head container-fluid header-table">

    <button type="button" class="navbar-toggle cell">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
    <span class="brand cell">
      WEBSITE NAME
    </span>
    
    <span id="filler"></span>
  
  <span class="cell">
    <span class="cell full-width">
      <%= form_tag(search_path, method: "get", class: 'app-search', id: "search-form") do %>
        
        <%= text_field_tag :query, params[:query], placeholder: "e.g. Grand Theft Auto", class: "form-control form-control-circle", id: 'search-box' %>

      <% end %>
    </span>
    
      <span id="search-toggle" class="fa fa-search cell"></span>
  </span>
  
</header>
<!-- Header Ends -->