<aside class="left-panel">

  <div class="user text-center no-overflow">
    <img src="assets/images/avtar/user.png" class="img-circle" alt="...">
    <h4 class="user-name"><%= current_user.username if current_user %></h4>
  </div>

  <nav class="navigation">
    <ul class="list-unstyled">
      <li>
        <a href="<%= root_path %>"><i class="fa fa-bookmark-o"></i><span class="nav-label">Home</span></a>
      </li>
      <li>
        <a href="<%= games_index_path %>"><i class="fa fa-bookmark-o"></i><span class="nav-label">Games</span></a>
      </li>
    </ul>
  </nav>

</aside>